<a href="https://colab.research.google.com/github/TomasK24/UniData/blob/main/Section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TOMAS KUKTA 21491719**

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/TomasK24/UniData/main/Energy_dataset.csv'

df = pd.read_csv(url)

# Display the first few rows
df.head()

ModuleNotFoundError: No module named 'pandasql'

In [ ]:
# **TOMAS KUKTA 21491719**
!pip install pandasql
import pandasql as psql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.30)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=9873817ac980ba276310a4d194f0c0f7245af306069264a19ee764749931ce5c
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
# SELECT statement **TOMAS KUKTA 21491719**
query = "SELECT * FROM df WHERE Orientation = 2"
result_select = psql.sqldf(query)
print("SELECT Operation Result:")
print(result_select)

SELECT Operation Result:
     Relative Compactness  Surface Area  Wall Area  Roof Area  Overall Height  \
0                    0.98         514.5      294.0     110.25             7.0
1                    0.90         563.5      318.5     122.50             7.0
2                    0.86         588.0      294.0     147.00             7.0
3                    0.82         612.5      318.5     147.00             7.0
4                    0.79         637.0      343.0     147.00             7.0
..                    ...           ...        ...        ...             ...
187                  0.71         710.5      269.5     220.50             3.5
188                  0.69         735.0      294.0     220.50             3.5
189                  0.66         759.5      318.5     220.50             3.5
190                  0.64         784.0      343.0     220.50             3.5
191                  0.62         808.5      367.5     220.50             3.5

     Orientation  Glazing Area  Glazing Area Distribution  Heating Load  \
0              2           0.0                          0         15.55
1              2           0.0                          0         20.84
2              2           0.0                          0         19.50
3              2           0.0                          0         17.05
4              2           0.0                          0         28.52
..           ...           ...                        ...           ...
187            2           0.4                          5         12.43
188            2           0.4                          5         14.12
189            2           0.4                          5         14.96
190            2           0.4                          5         17.69
191            2           0.4                          5         16.54

     Cooling Load
0           21.33
1           28.28
2           27.30
3           23.77
4           37.73
..            ...
187         15.59
188         16.63
189         17.64
190         20.82
191         16.88

[192 rows x 10 columns]

In [ ]:
# INSERT statement **TOMAS KUKTA 21491719**
new_row = pd.DataFrame({
    'Relative Compactness': [0.75], 'Surface Area': [550.0], 'Wall Area': [280.0],
    'Roof Area': [200.0], 'Overall Height': [7.0], 'Orientation': [2],
    'Glazing Area': [0.4], 'Glazing Area Distribution': [0],
    'Heating Load': [20.0], 'Cooling Load': [15.0]
})
df = pd.concat([df, new_row], ignore_index=True)

print("Data after INSERT Operation:")
print(df.tail())

Data after INSERT Operation:
     Relative Compactness  Surface Area  Wall Area  Roof Area  Overall Height  \
764                  0.62         808.5      367.5      220.5             3.5
765                  0.62         808.5      367.5      220.5             3.5
766                  0.62         808.5      367.5      220.5             3.5
767                  0.62         808.5      367.5      220.5             3.5
768                  0.75         550.0      280.0      200.0             7.0

     Orientation  Glazing Area  Glazing Area Distribution  Heating Load  \
764            2           0.4                          5         16.54
765            3           0.4                          5         16.44
766            4           0.4                          5         16.48
767            5           0.4                          5         16.64
768            2           0.4                          0         20.00

     Cooling Load
764         16.88
765         17.11
766         16.61
767         16.03
768         15.00

In [ ]:
# UPDATE statement **TOMAS KUKTA 21491719**
df.loc[df['Orientation'] == 2, 'Heating Load'] = 21.0

print("Data after UPDATE Operation:")
print(df[df['Orientation'] == 2].head())

Data after UPDATE Operation:
    Relative Compactness  Surface Area  Wall Area  Roof Area  Overall Height  \
0                   0.98         514.5      294.0     110.25             7.0
4                   0.90         563.5      318.5     122.50             7.0
8                   0.86         588.0      294.0     147.00             7.0
12                  0.82         612.5      318.5     147.00             7.0
16                  0.79         637.0      343.0     147.00             7.0

    Orientation  Glazing Area  Glazing Area Distribution  Heating Load  \
0             2           0.0                          0          21.0
4             2           0.0                          0          21.0
8             2           0.0                          0          21.0
12            2           0.0                          0          21.0
16            2           0.0                          0          21.0

    Cooling Load
0          21.33
4          28.28
8          27.30
12         23.77
16         37.73

In [ ]:
# DELETE statement **TOMAS KUKTA 21491719**
df = df[~((df['Orientation'] == 2) & (df['Heating Load'] == 21.0))]

print("Data after DELETE Operation:")
print(df[df['Orientation'] == 2])

Data after DELETE Operation:
Empty DataFrame
Columns: [Relative Compactness, Surface Area, Wall Area, Roof Area, Overall Height, Orientation, Glazing Area, Glazing Area Distribution, Heating Load, Cooling Load]
Index: []

In [ ]:
# Adds a new column calculating Height to Surface Area Ratio **TOMAS KUKTA 21491719**
df['Height_to_Surface_Area_Ratio'] = df['Overall Height'] / df['Surface Area']
print(df.head())

   Relative Compactness  Surface Area  Wall Area  Roof Area  Overall Height  \
1                  0.98         514.5      294.0     110.25             7.0
2                  0.98         514.5      294.0     110.25             7.0
3                  0.98         514.5      294.0     110.25             7.0
5                  0.90         563.5      318.5     122.50             7.0
6                  0.90         563.5      318.5     122.50             7.0

   Orientation  Glazing Area  Glazing Area Distribution  Heating Load  \
1            3           0.0                          0         15.55
2            4           0.0                          0         15.55
3            5           0.0                          0         15.55
5            3           0.0                          0         21.46
6            4           0.0                          0         20.71

   Cooling Load  Height_to_Surface_Area_Ratio
1         21.33                      0.013605
2         21.33                      0.013605
3         21.33                      0.013605
5         25.38                      0.012422
6         25.16                      0.012422

In [ ]:
# Calculate the average Heating Load grouped by Orientation **TOMAS KUKTA 21491719**
query = "SELECT Orientation, AVG(`Heating Load`) as Avg_Heating_Load FROM df GROUP BY Orientation"

# Execute the SQL query and store the result **TOMAS KUKTA 21491719**
result_avg = psql.sqldf(query)

# Print the result of the aggregate function **TOMAS KUKTA 21491719**
print(result_avg)

   Orientation  Avg_Heating_Load
0            3         22.380677
1            4         22.259896
2            5         22.275365

In [ ]:
# Calculate the difference between Heating Load and Cooling Load **TOMAS KUKTA 21491719**
df['Load_Difference'] = df['Heating Load'] - df['Cooling Load']

# Display the first few rows to confirm the new column **TOMAS KUKTA 21491719**
df.head()

,Relative Compactness,Surface Area,Wall Area,Roof Area,Overall Height,Orientation,Glazing Area,Glazing Area Distribution,Heating Load,Cooling Load,Height_to_Surface_Area_Ratio,Load_Difference
1,0.98,514.5,294.0,110.25,7.0,3,0.0,0,15.55,21.33,0.013605,-5.78
2,0.98,514.5,294.0,110.25,7.0,4,0.0,0,15.55,21.33,0.013605,-5.78
3,0.98,514.5,294.0,110.25,7.0,5,0.0,0,15.55,21.33,0.013605,-5.78
5,0.90,563.5,318.5,122.50,7.0,3,0.0,0,21.46,25.38,0.012422,-3.92
6,0.90,563.5,318.5,122.50,7.0,4,0.0,0,20.71,25.16,0.012422,-4.45